html, body {
  height: 100%;
  margin: 0;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  cursor: row-resize;
  background-color: #f0f0f0;
}

.notes {
  margin-top: 1rem;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container, .container-fluid {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container .row.header, .container-fluid .row.header {
  flex: 0 1 auto;
}

.container .row.content, .container-fluid .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.container .row.footer, .container-fluid .row.footer {
  flex: 0 1 auto;
}

.dataTables_wrapper {
  width: 100%;
}
