body {
  color: #000000;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f0f0f0;
}

.card-deck .card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-header {
  background-color: #418EDD;  /* light blue */
  color: #ffffff; /* white */
}

.card-title {
  margin-bottom: 0;
  font-size: 1rem;
}

.title {
  background-color: dodgerblue;
  color: white;
}

.ic {
  background-color: darkblue;
  color: white;
}

.na {
  background-color: purple;
  color: white;
}

.bad {
  background-color: red;
  color: white;
}

.average {
  background-color: yellow;
  color: black;
}

.good {
  background-color: green;
  color: white;
}

.excellent {
  background-color: cyan;
  color: black;
}

.estimate {
  font-style: italic;
}

/*
* Override for footer bar, items without link
*/
li.footer {
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  color: #868e96;
}

.navbar-nav > li.list-group-item {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

/*
* 22 distiguishable background-colors and foregrounds
* https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/
*/
.red {
  background-color: #e6194b;
  color: white;
}
.green {
  background-color: #3cb44b;
  color: white;
}
.yellow	{
  background-color: #ffe119;
  color: black;
}
.blue	{
  background-color: #0082c8;
  color: white;
}
.orange	{
  background-color: #f58231;
  color: white;
}
.purple	{
  background-color: #911eb4;
  color: white;
}
.cyan	{
  background-color: #46f0f0;
  color: black;
}
.magenta {
  background-color: #f032e6;
  color: white;
}
.lime	{
  background-color: #d2f53c;
  color: black;
}
.pink	{
  background-color: #fabebe;
  color: black;
}
.teal	{
  background-color: #008080;
  color: white;
}
.lavender	{
  background-color: #e6beff;
  color: black;
}
.brown {
  background-color: #aa6e28;
  color: white;
}
.beige {
  background-color: #fffac8;
  color: black;
}
.maroon	{
  background-color: #800000;
  color: white;
}
.mint	{
  background-color: #aaffc3;
  color: black;
}
.olive {
  background-color: #808000;
  color: white;
}
.coral {
  background-color: #ffd8b1;
  color: black;
}
.navy {
  background-color: #000080;
  color: white;
}
.grey	{
  background-color: #808080;
  color: black;
}
.white {
  background-color: #FFFFFF;
  color: black;
}
.black {
  background-color: #000000;
  color: white;
}
